<div class="card m-3">
    <h5 class="card-header">{{'warehouse_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="name" maxlength="50" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.name.errors }" />
                    <div *ngIf="form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'code_lbl' | translate}}</label>
                    <input type="text" formControlName="code" maxlength="50" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.code.errors }" />
                    <div *ngIf="form.code.errors" class="invalid-feedback">
                        <div *ngIf="form.code.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'branchOffice_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.branchOfficeId.errors }"
                    formControlName="branchOfficeId"
                    >
                    <option *ngFor="let branchOffice of branchOffices"
                     [value]="branchOffice.id"
                     >{{branchOffice.name}}</option>
                    </select>
                    <div *ngIf="form.branchOfficeId.errors" class="invalid-feedback">
                        <div *ngIf="form.branchOfficeId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
            </div>
           
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>