
  
        <div class="">
            <div id="columnsVisibility">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="columnsSelection" ngbDropdownToggle>{{'selectColumns_label'}}</button>
                    <div ngbDropdownMenu aria-labelledby="columnsSelection">
                        <div class="form-check"*ngFor="let header of tableConfig">
                            <input ngbDropdownItem type="checkbox" [checked]="header.visible"  (click)="hideColumn(header,$event)" class="form-check-input" [id]="'columnsVisibility-'+header.id">
                            <label class="form-check-label" [for]="'columnsVisibility-'+header.id">{{header.name}}</label>
                          </div>
                    </div>
                  </div>
            </div>
            
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td *ngFor="let header of tableConfig">
                                <input class="form-control" *ngIf="header.visible" [type]="header.type"  (input)="addFilter(header,$event)" >
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                          <ng-container  *ngFor="let header of tableConfig">
                            <th  scope="col" [sortable]="header.name" *ngIf="header.visible" (sort)="onSort(header)">{{header.name}}</th>
                          </ng-container >
                           <th scope="col">{{'actions_label' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let item of data" >
                        <tr >
                          <ng-container *ngFor="let prop of tableConfig">
                            <td  *ngIf="prop.visible">{{ item[prop.id] }}</td>
                          </ng-container>
                          
                        
                            <td>
                                <div *ngFor="let action of actions" class="btn-group  btn-group-sm  btn-group-lg text-center">
                                    <a [class]="action.class" (click)="actionFunc(action,item)" [title]="action.title"><i [class]="action.icon"></i> <span class="option">{{action.title}}</span> </a>
                                </div>
                                
                            </td>
                       
                        </tr>
                        </tbody>
                        
                </table>
                <ngb-pagination
              [(page)]="pageNumber"
              [pageSize]="pageSize"
              [collectionSize]="maxCount"
              (pageChange)="getPagedData($event)"
            ></ngb-pagination>
           
        </div>
      


