<div class="card m-3">
    <h5 class="card-header">{{'warehouseTransfers_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'originBranchOffice_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.originBranchOfficeId.errors }"
                    formControlName="originBranchOfficeId"
                    required
                    >
                    <option *ngFor="let branchOffice of originBranchOffices"
                     [value]="branchOffice.id"
                     >{{branchOffice.name}}</option>
                    </select>
                    <div *ngIf="form.originBranchOfficeId.errors" class="invalid-feedback">
                        <div *ngIf="form.originBranchOfficeId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'originWarehouse_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.originId.errors }"
                    formControlName="originId"
                    required
                    >
                    <option *ngFor="let warehouse of originWarehouses"
                     [value]="warehouse.id"
                     >{{warehouse.name}}</option>
                    </select>
                    <div *ngIf="form.originId.errors" class="invalid-feedback">
                        <div *ngIf="form.originId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'destinyBranchOffice_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="destinyBranchOfficeId"
                    >
                    <option *ngFor="let branchOffice of destinyBranchOffices"
                     [value]="branchOffice.id"
                     >{{branchOffice.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'destinyWarehouse_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.destinyId.errors }"
                    formControlName="destinyId"
                    required
                    >
                    <option *ngFor="let warehouse of destinyWarehouses"
                     [value]="warehouse.id"
                     >{{warehouse.name}}</option>
                    </select>
                    <div *ngIf="form.destinyId.errors" class="invalid-feedback">
                        <div *ngIf="form.destinyId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
              
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'product_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.productId.errors }"
                    formControlName="productId"
                    required
                    >
                    <option *ngFor="let product of products"
                     [value]="product.id"
                     >{{product.name}}</option>
                    </select>
                    <div *ngIf="form.productId.errors" class="invalid-feedback">
                        <div *ngIf="form.productId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'unit_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.unitId.errors }"
                    formControlName="unitId"
                    required
                    >
                    <option *ngFor="let unit of productUnits"
                     [value]="unit.unitId"
                     >{{unit.unit.name}}</option>
                    </select>
                    <div *ngIf="form.unitId.errors" class="invalid-feedback">
                        <div *ngIf="form.unitId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

              

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'reference_lbl' | translate}}</label>
                    <input type="text" formControlName="reference"  maxlength="50" class="form-control"/>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'details_lbl' | translate}}</label>
                    <textarea class="form-control"
                    formControlName="details" maxlength="200" class="form-control" [ngClass]="{ 'is-invalid': form.details.errors }"
                    ></textarea>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'originQuantity_lbl' | translate}}</label>
                    <i class="form-control">{{originInventory.currentUnitEquivalence}}</i>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'quantity_lbl' | translate}}</label>
                    <input type="number" formControlName="quantity"  [attr.disabled]="originInventory.currentUnitEquivalence<=0? '' : null" required class="form-control" min="1" [ngClass]="{ 'is-invalid':form.quantity && form.quantity.errors }" />
                    <div *ngIf="form.quantity.errors" class="invalid-feedback">
                        <div *ngIf="form.quantity.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
                <div class="col-md-3 col-xs-12">
                    <i class="btn btn-primary mr-1  my-4" [ngClass]="{ 'disabled':!verifyQuantities() }"  (click)="addEntry()">{{'add_btn' | translate}}</i>
                </div>
               
            </div>
           
            <div  class="scrollTableMobile" >
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'originWarehouse_lbl' | translate}}</th>
                            <th>{{'destinyWarehouse_lbl' | translate}}</th>
                            <th>{{'product_lbl' | translate}}</th>
                            <th>{{'unit_lbl' | translate}}</th>
                            <th>{{'quantity_lbl' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of entries;let i=index">
                            <td>{{entry.origin.name}}</td>
                            <td>{{entry.destiny.name}}</td>
                            <td>{{entry.product.name}}</td>
                            <td>{{entry.unit.name}}</td>
                            <td>{{entry.quantity}}</td>
                            <td><i class="btn btn-danger" (click)="deleteEntry(i)">{{'delete_btn' | translate}}</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>