<div class="card m-3">
    <h5 class="card-header">{{'customerPayment_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'branchOffice_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.branchOfficeId.errors }"
                    formControlName="branchOfficeId"
                    required
                    >
                    <option *ngFor="let branchoffice of branchOffices"
                     [value]="branchoffice.id"
                     >{{branchoffice.name}}</option>
                    </select>
                    <div *ngIf="form.branchOfficeId.errors" class="invalid-feedback">
                        <div *ngIf="form.branchOfficeId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'customer_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.paymentDestinationId.errors }"
                    formControlName="paymentDestinationId"
                    required
                    >
                    <option *ngFor="let customer of customers"
                     [value]="customer.id"
                     >{{customer.name}}</option>
                    </select>
                    <div *ngIf="form.paymentDestinationId.errors" class="invalid-feedback">
                        <div *ngIf="form.paymentDestinationId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'currency_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.currencyId.errors }"
                    formControlName="currencyId"
                    required
                    >
                    <option *ngFor="let currency of currencies"
                     [value]="currency.id"
                     >{{currency.name}}</option>
                    </select>
                    <div *ngIf="form.currencyId.errors" class="invalid-feedback">
                        <div *ngIf="form.currencyId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'paidAmount_lbl' | translate}}</label>
                    <input type="number" formControlName="givenAmount" required min="1"  class="form-control" [ngClass]="{ 'is-invalid':form.givenAmount && form.givenAmount.errors?true:false }" />
                    <div *ngIf="form.givenAmount && form.givenAmount.errors" class="invalid-feedback">
                        <div *ngIf="form.givenAmount.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'positiveBalance_lbl' | translate}}</label>
                    <input type="number" formControlName="positiveBalance" disabled  class="form-control" />
                </div>

               
                    <div class="form-group col-md-6 col-xs-12">
                        <label>{{'paymentType_lbl' | translate}}</label>
                        <select class="form-control"
                        [ngClass]="{ 'is-invalid': form.paymentTypeId.errors }"
                        required
                        formControlName="paymentTypeId"
                        >
                        <option *ngFor="let paymentType of paymentTypes"
                         [value]="paymentType.id"
                         >{{paymentType.name}}</option>
                        </select>
                        <div *ngIf="form.paymentTypeId.errors" class="invalid-feedback">
                            <div *ngIf="form.paymentTypeId.required">{{'required_lbl' | translate}}</div>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-6 col-xs-12" *ngIf="paymentWithReference">
                        <label>{{'reference_lbl' | translate}}</label>
                        <input type="text" formControlName="reference" [required]="paymentWithReference" minlength="3"  class="form-control" [ngClass]="{ 'is-invalid': form.reference.errors }" />
                        <div *ngIf="form.reference.errors" class="invalid-feedback">
                            <div *ngIf="form.reference.required">{{'required_lbl' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12" >
                        <label>{{'details_lbl' | translate}}</label>
                        <textarea formControlName="details" class="form-control">
                        </textarea>
                    </div>
                       
            </div>
          
            <div>
                
                <div *ngIf="invoices.length>0" class="scrollTableMobile">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'reference_lbl' | translate}}</th>
                                <th>{{'date_lbl' | translate}}</th>
                                <th>{{'totalAmount_lbl' | translate}}</th>
                                <th>{{'owedAmount_lbl' | translate}}</th>
                                <th>{{'paidAmount_lbl' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoices; let i=index">
                                <td>{{invoice.invoiceNumber}}</td>
                                <td>{{invoice.billingDate | date : "yyyy-MM-dd"}}</td>
                                <td>{{invoice.totalAmount | currency : ""}}</td>
                                <td>{{invoice.owedAmount | currency : ""}}</td>
                                <td><i class="form-control">{{invoice.currentPaidAmount}}</i></td>
                                <td><input type="checkbox" style="margin-top:1% !important;" 
                                    class="form-check-input"
                                     [id]="('invoiceCheck'+i.toString())" 
                                     [attr.disabled]="!canPay? '' : null"
                                     [formControlName]="('selectedInvoice-'+invoice.id)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>