<div class="card m-3">
    <h5 class="card-header">{{'branchOffice_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-5">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="name" maxlength="50" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.name.errors }" />
                    <div *ngIf="form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
            </div>
           
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>