<div class="card m-3">
    <h5 class="card-header">{{'schools_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="name" maxlength="50" minlength="3" required class="form-control" [ngClass]="{ 'is-invalid': form.name.errors }" />
                    <div *ngIf="form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'phoneNumber_lbl' | translate}}</label>
                    <input type="text" formControlName="phoneNumber" minlength="1" maxlength="20" required class="form-control" [ngClass]="{ 'is-invalid': form.phoneNumber.errors }" />
                    <div *ngIf="form.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="form.phoneNumber.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
            </div>
            <div class="form-row">

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'address_lbl' | translate}}</label>
                    <textarea 
                    formControlName="address" 
                    minlength="1" 
                    maxlength="200" 
                    required 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.address.errors }"
                    ></textarea>
                    <div *ngIf="form.address.errors" class="invalid-feedback">
                        <div *ngIf="form.address.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'code_lbl' | translate}}</label>
                    <input type="text" formControlName="code" maxlength="50" disabled class="form-control" />
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'customer_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.customerId.errors }"
                    formControlName="customerId"
                    >
                    <option *ngFor="let customer of customers"
                     [value]="customer.id"
                     >{{customer.name}}</option>
                    </select>
                    <div *ngIf="form.customerId.errors" class="invalid-feedback">
                        <div *ngIf="form.customerId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

              
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'zone_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.zoneId.errors }"
                    formControlName="zoneId"
                    >
                    <option *ngFor="let zone of zones"
                     [value]="zone.id"
                     >{{zone.name}}</option>
                    </select>
                    <div *ngIf="form.zoneId.errors" class="invalid-feedback">
                        <div *ngIf="form.zoneId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
              
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'leadDueDays_lbl' | translate}}</label>
                    <input type="number" formControlName="leadDueDays"   class="form-control" />
                </div>
               
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'branchOffice_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="branchOfficeId"
                    >
                    <option *ngFor="let branchOffice of branchOffices"
                     [value]="branchOffice.id"
                     >{{branchOffice.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'assignedWarehouse_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.assignedWarehouseId.errors }"
                    formControlName="assignedWarehouseId"
                    >
                    <option *ngFor="let warehouse of warehouses"
                     [value]="warehouse.id"
                     >{{warehouse.name}}</option>
                    </select>
                </div>
            </div>
<br>
<h3>{{'contacts_lbl' | translate}}</h3>
<br>
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="contactName" minlength="1" maxlength="100"  class="form-control" [ngClass]="{ 'is-invalid': contactInfoRequired }" />
                    <div *ngIf="contactInfoRequired" class="invalid-feedback">
                        <div >{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'phoneNumber_lbl' | translate}}</label>
                    <input type="text" formControlName="contactPhoneNumber" minlength="1" maxlength="20"  class="form-control" [ngClass]="{ 'is-invalid': contactInfoRequired }" />
                    <div *ngIf="contactInfoRequired" class="invalid-feedback">
                        <div >{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'position_lbl' | translate}}</label>
                    <input type="text" formControlName="position" minlength="1" maxlength="50"  class="form-control" [ngClass]="{ 'is-invalid': contactInfoRequired }" />
                    <div *ngIf="contactInfoRequired" class="invalid-feedback">
                        <div >{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-4 my-4">
                    <a class="btn btn-primary" (click)="addContact()" ><span class="option">{{'add_btn' | translate}}</span> </a>
                </div>
            </div>

            <div class="row scrollTableMobile" *ngIf="contacts.length>0">
                <table class="table table-striped">
                   <thead>
                       <tr>
                           <th>{{'name_lbl' | translate}}</th>
                           <th>{{'position_lbl' | translate}}</th>
                           <th>{{'phoneNumber_lbl' | translate}}</th>
                        </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let contact of contacts; let i=index">
                           <td>{{contact.name}}</td>
                           <td>{{contact.position}}</td>
                           <td>{{contact.phoneNumber}}</td>
                           <td>
                            <div  class="btn-group  btn-group-sm  btn-group-lg text-center">
                                <a class="btn btn-danger" (click)="deleteContact(i)" ><span class="option">{{'delete_btn' | translate}}</span> </a>
                            </div>
                            
                        </td>
                        </tr>
                   </tbody>
                </table>
            </div>
           <br>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>